<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ХКТЭиП</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/style.css">


    </head>
    <body style="background-color: #FFD482;">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #21AF97;">
            <div class="container">
                <a class="navbar-brand" href="/">ХКТЭиП</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav">

                        <li>
                            <a href="/about" class="nav-link text-light">Про нас</a>
                        </li>
                        <li>
                            <a href="/feedback" class="nav-link text-light">Контакты</a>
                        </li>
                        <li>
                            <a href="/specialties" class="nav-link text-light">Специальности</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h5 class="my-4">Хабаровский Кооперативный Техникум Экономики и Права</h5>
                    <div class="list-group"></div>
                </div>


                <div class="col-lg-9">

                    {% block content %}

                    <div id="carouselExampleControls" class="carousel slide mt-2" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://via.placeholder.com/900x375" class="d-block w-100" alt="...">
                                {% for el in news %}
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>{{ el.title }}</h3>
                                    <p>{{ el.text }}</p>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="carousel-item">
                                <img src="https://via.placeholder.com/900x375" class="d-block w-100" alt="...">
                                {% for el in news %}
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>{{ el.title }}</h3>
                                    <p>{{ el.text }}</p>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="carousel-item">
                                <img src="https://via.placeholder.com/900x375" class="d-block w-100" alt="...">
                                {% for el in news %}
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>{{ el.title }}</h3>
                                    <p>{{ el.text }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    {% for el in news %}
                        <div class="alert alert-warning mt-2">
                            <h3>{{ el.title }}</h3>
                            <p>{{ el.text }}</p>
                        </div>
                    {% endfor %}


                    <div class="alert alert-info mt-2">
                        <h2>Наши ключевые особенности:</h2>
                        <br>
                        <h4>Современные аудитории</h4>
                        <h4>Обучение в центре города</h4>
                        <h4>Новые введения образования</h4>
                        <h4>Одни из лучших преподавателей</h4>
                    </div>

                    <div class="alert mt-2" style="background-color: #FCE1AC; text-align: center;">
                        <h3>Lorem</h3>
                        <input type="name" placeholder="Имя">
                        <br>
                        <div class="col text-center">
                            <form class="rate-form" action="" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="fa fa-star ms-btn fa-2x" id="first"></button>
                                <button type="submit" class="fa fa-star ms-btn fa-2x" id="second"></button>
                                <button type="submit" class="fa fa-star ms-btn fa-2x" id="third"></button>
                                <button type="submit" class="fa fa-star ms-btn fa-2x" id="fourth"></button>
                                <button type="submit" class="fa fa-star ms-btn fa-2x" id="fifth"></button>
                            </form>
                        </div>
                        <br>
                        <input type="text" placeholder="Ваше мнение">
                    </div>

                    <div class="alert mb-5" style="background-color: #FCE1AC;">
                        <p>last 3 reviews</p>
                    </div>

                    {% endblock content %}

                </div>
            </div>
        </div>

<!-- Footer-->
<footer class="fixed-bottom py-2" style="background-color: #21AF97;">
    <div class="container"><p class="m-0 text-center text-white">&copy; ХКТЭиП 2021</p></div>
</footer>
<img src="../media/circle.svg" alt="">

<script src="../static/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>