{% extends 'index.html' %}

{% block content %}
<div class="alert alert-warning mt-2">
    <h1>Направления обучения:</h1>
    <br>
    <h3>Правоохранительная деятельность - (3 года 6 месяцев) 40.000₽</h3>
    <br>
    <h3>Право и организация социльного обеспечения - (3 года 6 месяцев) 40.000₽</h3>
    <br>
    <h3>Коммерция (по отраслям) - (2 года 10 месяцев) 35.000₽</h3>
    <br>
    <h3>Обеспечение информационной безопасности автоматизированных систем - (2 года 10 месяцев) 35.000₽</h3>
    <br>
    <h3>Экономика и бухгалтерский учет - (2 года 10 месяцев) 35.000₽</h3>
    <br>
    <h3>Товароведение и экспертиза качества потребительских товаров - (2 года 10 месяцев) 35.000₽</h3>
</div>

{% endblock content %}